
.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: black;
}

#header-nav {
  border: 0;
  background-color: gray;
  color: #000000;
}

.navbar-toggle {
	float: right;
	height: 35px;
	width: 40px;
}
.icon-bar{
  border: 1px solid;
}


.nav-brand {
  color: black;
  font-size: 1em;
}
#nav-list {
  color: white;
}

.item {
  color: black;
  font-size: 1em;
}


.HM {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 40px;
}

.Chicken, .Meat, .Sushi {
	width: 90%;
	margin-left: 5%;
	background-color: #23c7d3;
	margin-bottom: 50px;

}
h2 {
	text-align: center;
	font-size: 30px;
	padding-top: 5px;

}
p{
	padding: 10px;
}

@media (min-width: 768px) {
	.navbar-toggle{
		display: none;
	}
}

